<?xml version="1.0"?>
<model>
  <name>Tube field</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Casey J</name>
   <email>mcasey.d.jorgenson@ndsu.edu</email>
  </author>

  <description>
    tubes for the field of the Autonomous Snowplow 2025.
  </description>
</model>